.best {
    padding-bottom: 10px
}

.best .container {
    padding-top: 80px
}

.best_items {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 0;
    padding: 0 10px;
    font-size: 0
}

.best_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 980px;
    min-height: 234px;
    margin-bottom: 40px;
    padding: 24px 15px;
    border: 2px solid #f0ecff;
    border-radius: 16px;
    height: 46%
}

.best_item .img_wrap {
    vertical-align: top;
    text-align: center
}

.best_item .img_wrap img {
    height: 130px;
    width: 172px
}

.best_item .img_wrap, .best_item .text, .best_item img {
    display: inline-block
}

.best_item .title {
    margin-bottom: 10px;
    margin-top: 24px;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #453283
}

.best_item .descr, .best_item .title {
    color: #0d253e;
    font-weight: 300;
    font-family: 'Nunito Sans',sans-serif
}

.best_item .text {
    align-items: center;
    vertical-align: top;
    display: flex;
    flex-direction: column;
    width: 80%;
    text-align: center;
    font-size: initial
}

.best_item .descr {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    color: #323c47;
    font-weight: 400
}

@media screen and (max-width:960px) {
    .best_items {
        margin-top: 0;
        margin-bottom: 20px;
        padding: 0
    }
}

@media screen and (max-width:780px) {
    .best {
        padding-top: 10px
    }

    .best_item {
        width: 100%;
        min-height: auto;
        padding: 20px 0
    }

    .best_item .text {
        padding-left: 10px;
        padding-right: 10px
    }
}

@media screen and (max-width:768px) {
    .best_item {
        align-items: center
    }
}

@media screen and (max-width:680px) {
    .best_item .img_wrap {
        width: 100%
    }

    .best_item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 30px
    }

    .best_item .title {
        font-size: 24px
    }

    .best_item .descr {
        font-size: 18px
    }

    .best_item .text {
        width: 100%;
        text-align: center;
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1
    }
}

@media (max-width:640px) {
    .best_item .img_wrap img {
        height: 130px;
        width: 130px
    }
}

@media screen and (max-width:500px) {
    .best_item .title {
        font-size: 20px;
        margin-bottom: 10px
    }

    .best_item .descr {
        font-size: 14px;
        line-height: 1.34
    }

    .best_item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 20px
    }

    .best_item .img_wrap {
        -webkit-box-ordinal-group: 1;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0
    }

    .best_item .text {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -ms-flex-order: 1;
        order: 1
    }

    .best_item .img_wrap, .best_item .text {
        display: block;
        width: 100%;
        text-align: center
    }
}

@media screen and (max-width:375px) {
    .best_item .img_wrap {
        height: 130px
    }
}